.ReactCrop__image{
    position:absolute;
    width: 100vw;
    height: 100vh;
}

.ReactCrop{
    position: absolute !important;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    left: 0;
}

.modal-body{
    padding: 0px !important;
}

.pos-rel{
    position: relative;
    height:auto;
}

.table-tooltip{
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(18,52,77,0.06), 0 2px 18px 0 rgba(18,52,77,0.16);
}

.tippy-tooltip{
  background: #FFF;
  box-shadow: 0 2px 4px 0 rgba(18,52,77,0.06), 0 2px 18px 0 rgba(18,52,77,0.16);
  color: black;
  text-align: left;
  padding: 12px;
}